/* MENÚ */

ul.menu {
    text-align: center;
    background: rgb(49, 48, 48);
}

ul.menu>li {
    display: inline-block;
    margin: 0px 20px;
    padding: 10px;
}

ul.menu>li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

ul.menu>li a:hover {
    color: rgb(0, 225, 255);
}

div.productos>ul>li>img {
    height: 150px;
    width: 150px;
}


/* BODY */

h4 {
    color: white;
}

#main>div {
    font-size: 20px;
    color: black;
}

table.tabla>tbody>tr>td>img {
    width: 150px;
}

table.tabla>tbody>tr>td>span {
    width: auto;
}

table.tabla {
    text-align: center;
}


/* PIE DE PÁGINA */
footer a{
   color: white;

}
footer {
    background: rgb(49, 48, 48);
    padding: 14px 0;
}

footer .footer_links ul {
    padding: 0;
}

footer .footer_links ul li {
    list-style: none;
}

footer .footer_links ul li a {
    text-decoration: none;
}

footer .footer_links ul li a:hover {
    color: rgb(255, 255, 255);
}

.copyright {
    text-align: center;
    background: rgba(0, 0, 0, 0.534);
    padding: 6px;
    font-size: 8px;
}

@media(max-width: 768px){
	/* CABECERA */
	header .contacto > div > span{display: none;}
	header .contacto{order: 1;}
	header .user-utils{order: 2;}
	header #logo{order: 3;}
	
	/* MENÚ */
	ul.menu > li{margin: 0px; padding: 5px;}
	ul.menu > li a{font-size: 14px;}
	
	/* CUERPO DE LA PÁGINA */
	#main > div{font-size: 18px;}
	
	/* PIE DE PÁGINA */
	footer .footer_links h4, footer .footer_links ul{text-align: center;}
}